* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

div {
    font-family: "IBM Plex Sans KR";
}

@media (min-width: 550px) {
    .App {
        width: 550px;
    }
}

@media (max-width: 550px) {
    .App {
        width: 90vw;
    }
}

#root {
    background-color: white;
    box-shadow: rgba(110, 111, 100, 0.2) 0px 7px 29px 0px;
}
.App {
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
}

html body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1rem;
    font-family: "IBM Plex Sans KR", Helvetica, Arial, sans-serif;
    line-height: 1.58;
    background-color: rgb(255, 246, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.hidden {
    display: none;
}

.username-input {
    width: 80%;
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input {
    padding-left: 10px;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}
.title {
    margin-bottom: 5%;
}

a {
    color: #128ff2;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

.username-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100wh;
}

.username-page-container {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 50px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 42px;
    vertical-align: middle;
    position: relative;
    padding: 35px 55px 35px;
    min-height: 250px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 10px;
}

.chat-page {
    position: relative;
    height: 100vh;
}

.chat-container {
    width: 100%;
    height: 100%;
}

.chat-wrapper {
    overflow-y: scroll;
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
    height: calc(100% - 150px);
    padding-top: 24px;
    padding-bottom: 24px;
    /* background-color: red; */
}

#messageForm .input-group input {
    float: left;
    width: calc(100% - 85px);
}

#messageForm .input-group button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.chat-header {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ececec;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

.connecting {
    padding-top: 5px;
    text-align: center;
    color: #777;
    position: absolute;
    top: 65px;
    width: 100%;
}
